@font-face {
  font-family: "Pinto NO_04";
  src: url("./fonts/Pinto NO_04.otf") format('opentype');
}

body {

}

ul {
  list-style-type: none;
}

.App {

}

#header {
  margin: 0 auto;
  width: 100%;
  background-color: rgb(160, 15, 88);
  font-family: "Pinto NO_04";
  z-index: 999;
  justify-content: center;
  align-items: center;
  display: flex;
}

#header h1 {
  color: rgb(225, 212, 169);
  font-size: 46px;
}

#chat-container {
  display: block;
  position: relative;
}

#chat {
  display: flex;
  margin: 0;
  padding: 0;
  height: 64vh;
  justify-content: space-around;
}

#chat > * {
  margin: 35px;
}

#user-list {
  height: 100%;
  width: 20vw;
  border: solid black 2px;
  border-radius: 6.66px;
  padding: 6.66px;
}

#chat-area {
  display: flex;
  /* flex-direction: column; */
  flex-flow: row wrap;
}

#chat-area div {
  width: 66.6vw;
  border: solid black 2px;
  border-radius: 6.66px;
  padding: 6.66px;
  margin: 6.66px;
}

#chat-box {
  height: 50vh;
}

#message-box {
  height: 10vh;
}

#audio-player {
  /* margin: 50px; */
}
